<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <test name="Pricing Page Tests">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="PricingPageTests"/>
            </classes>
        </parameter>
    </test>
    <test name="Image Search Tests">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="ImageSearchTests"/>
            </classes>
        </parameter>
    </test>
</suite>